body {
	background-color: #E3CCA1;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#container {
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	background-color: #FFF;
	border-right: solid 2px #52331C;
	border-left: solid 2px #52331C;
	height: auto;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 76px;
	color: #4D331E;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 {
	font-weight: normal;
	margin-top: 0px;
	font-size: 22px;
}

#menu {
	width: 170px;
	float: left;
}
#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#menu li {
	background-color: #E8CC9F;
	border: 1px solid #4D331E;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 4px;
}
#menu a:link, #menu a:visited {
	color: #060;
	font-weight: bold;
	text-decoration: none;
}
#menu a:hover, #menu a:active {
	color: #900;
	text-decoration: underline;
}

#main {
	margin-left: 190px;
}
#main h3 {
	color: #4D331E;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 24px;
}
#main p {
	font-size: 16px;
	margin-top: 6px;
	margin-bottom: 6px;
}
#main a:link, #main a:visited {
	color: #900;
	text-decoration: underline;
}
#main a:hover, #main a:active {
	color: #03C;
}

#footer {
	background-color: #4D331E;
	margin-top: 20px;
	clear: both; 
}
#footer p {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	color: #FFF;
	text-align: center;

}
#footer a:link, #footer a:visited {
	color: #E8CC9F;
	text-decoration: underline;
}
#footer a:hover, #footer a:active {
	color: #000;
}

.rightfloat {
	border: 2px solid #060;
	margin: 8px;
	float: right;
}
#container {
	background-color: #FFF;
	height: auto;
	width: 750px;
	padding: 5px;
	background-image: url(Images/tiger%20back.jpg);
}
#header {
	padding: 10px;
	height: auto;
	width: auto;
}
#menu {
	background-color: #093;
}
#menu {
	background-color: #093;
	float: left;
	height: auto;
	width: auto;
	padding: 5px;
}
#main {
	padding: 5px;
	height: auto;
	width: auto;
	background-color: #FFF;
	float: none;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 125px;
}
#footer {
	color: #FF0;
	background-color: #300;
	padding: 5px;
	height: auto;
	width: auto;
	text-align: center;
}
#tiger {
	padding: 5px;
	float: right;
	height: auto;
	width: auto;
}
#mainside {
	padding: 10px;
	height: auto;
	width: auto;
}
